<div class='row'>
  <div class='col-9'>  
    <h5
        style ='color:rgb(120,120,50); margin-bottom:4px;''>
      {{frm['Name']}}
    </h5>
  </div>  
  <button class='btn btn-primary' type='button' style = "font-size:14; font-family:Arial, Helvetica, sans-serif;
    background-color:rgba(18,13,8,0.3);
    border-inline-start: 12px solid green;
    border-end-end-radius: 15px">
  <a href="mailto:info.nation.03@gmail.com?subject=Contacted%20by:{{dt['Title']}}&body=hey%20just%20want%20to%20contact:" type="button" class="btn btn-outline-secondary" style="margin-top:5px;">
    Contact Us
  </a>  
  </button>
  
</div>